
/*Samsung*/
@media only screen and (max-width: 372px) {

    .cabecalho > * {
        position: relative;
        z-index: 2; /* Mantém o conteúdo acima do gradiente */
        bottom: 40px;
    }

    /* Textos */
    .titulo, .subtitulo {
        position: relative;
        /*z-index: 4; /* Aumentado para garantir que fique acima do .vitor */
    }
    
    .cabecalho {
        position: relative;
        height: 711px; /* Ocupa a altura total da tela */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centraliza verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        background-color: #000000; /* Fundo como fallback */
        overflow: hidden; /* Garante que nada vaze fora */
    }

    
    .navbar {
        position: relative;
        z-index: 3; 
        width: 100%;
        background: transparent;
    }

    /* Logo */
    .navbar-brand img {
        width: 140px;
        position: absolute;
        top: 365px;
        left: 112px;
        z-index: 4; 
    }

   
    .row {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2; 
    }

    /* Textos */
    .titulo {
        font-size: 28px;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 367px;
        left: -46px;
        z-index: 4;
        font-weight: 600;
    }

    .titulo span {
        color: #ffd700; /* Destaque para as palavras */
    }

    .subtitulo {
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 368px;
        text-align: center;
        margin-left: -5px; 
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 372px;
    }

    .vitor {
       /*  background-image: url("../img/20241106_195626.png"); */
        position: absolute;
        top: -94px;
        left: 12px;
        width: 332px;
        height: 600px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
        /*display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
    }

    .img-antes, .img-depois {
        width: 103%;
        height: 280px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .avisos-text {  
        margin-top: 10%;
    }

    .box-1 {
        width: 336px !important;
        height: 268px;
        margin-bottom: 32px;
        background-color: #f9f9f9;
    }

    .x {
        width: 50px;
        padding-top: 12px;
        margin-bottom: 10px;
    }

    .p-box-1 {
        padding: 0px 16px;
        line-height: 1.4;
    }

    .box-2 {
        width: 333px;
        height: 245px;
        margin-bottom: 32px;
    }

    .certo {
        width: 50px;
        padding-top: 12px;
        margin-bottom: 10px;
    }

    .p-box-2 {
        padding: 0px 16px;
        line-height: 1.4;
    }

    .btnn {
        width: 331px;
        margin-top: 12px;
    }

    .passos-box {
        width: 336px;
        height: 291px;
        font-size: 17px;
    }

    .numero {
        bottom: 245px;
    }

    .passos-text-box {
        padding-top: 48px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 24px;
    }

    .p-passos-box {
        font-size: 21px;
        position: relative;
        bottom: 7px;
    }

    .p-passos-box-different {
        font-size: 21px;
        position: relative;
        bottom: 25px;
    }

    .sobre-mim-box {
        width: 354px;
    }

    .sobre-mim {
        width: 400px;
        top: -83px;
    }

    .subtitle {
        padding: 0 16px; /* Reduzindo margens laterais */
        font-size: 1.1rem; /* Mantendo responsivo */
        line-height: 1.6; /* Maior espaçamento para melhorar a leitura */
        text-align: justify;
        hyphens: auto; /* Permite a quebra de palavras para evitar grandes espaços */
        word-spacing: -1px;
    }

    .subtitle:not(:last-child) {
        margin-bottom: 12px; /* Adiciona espaço entre os parágrafos */
    }

    .perguntas-box {
        margin-left: 20px;
    }

    .perguntas-header {
        position: relative;
        top: 20px;
        left: 2px;
    }

    .duvidas {
        padding-top: 32px;
    }

    .wpp {
        width: 190px;
        margin-bottom: 16px;
    }

    .duvidas-text {
        font-size: 2rem;
    }

    .duvidas-text-2{
        font-size: 1.1rem;
    }

    .whatsapp {
        color: forestgreen;
    }

    .fa-instagram {
        left: 4px;
    }

    .footer-img {
        position: relative;
        right: 3px;
    }

    .footer-text {
        padding: 0 16px;
    }

    .carousel-control-prev-icon {
        width: 3rem;
        height: 17px;
        /* margin-top: 95px; */
        margin-bottom: 118px;
        left: 12px;
        position: relative;
    }

    .carousel-control-next-icon {
        width: 3rem;
        height: 17px;
        /* margin-top: 95px; */
        margin-bottom: 118px;
        right: 12px;
        position: relative;
    }
}

/*One Plus Nord 2
@media (min-width: 361px) and (max-width: 412px) and (min-height: 801px) and (max-height: 915px) {

    .vitor {
        position: absolute;
        top: -91px;
        left: 26px;
        width: 355px;
        height: 675px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }
} */

/*Iphone 13 mini , 11 pro*/
@media screen and (min-width: 374px) and (max-width: 375px) {

     .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    .cabecalho > * {
        position: relative;
        z-index: 2; 
        color: #fff;
    }

    .titulo, .subtitulo {
        position: relative;
    }
    
    .cabecalho {
        position: relative;
        height: 850px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        background-color: #000; 
        overflow: hidden; 
    }

    
    .navbar {
        position: relative;
        z-index: 3; 
        width: 100%;
        background: transparent;
    }

   
    .navbar-brand img {
        width: 160px;
        position: absolute;
        top: 414px;
        left: 140px;
        z-index: 4;
    }

   
    .row {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2; 
    }

    .titulo {
        font-size: 29px;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 410px;
        left: 0px;
        font-size: 29px;
        z-index: 4;
        font-weight: 600;
    }

    .subtitulo {
        font-size: 20px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 414px;
        text-align: center;
        left: 0px;
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .avisos-text {
        margin-top: 10%;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 455px;
        width: 291px;
    }

    .vitor {
        position: absolute;
        top: -91px;
        left: 6px;
        width: 355px;
        height: 675px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }

    .img-antes, .img-depois {
        width: 103%;
        height: 280px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .navbar-brand img {
        width: 160px;
        position: absolute;
        top: 414px;
        left: 108px;
        z-index: 4;
    }

    .titulo {
        left: -48px;
        font-size: 29px;
    }

    .subtitulo {
        margin-left: 4px;
        top: 426px;
    }

    .box-1 {
        width: 352px;
    }

    .box-2 {
        width: 352px;
    }

    .passos-box {
        width: 352px;
        height: 297px;
    }

    .passos-text-box {
        font-size: 30px;
        padding-top: 48px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .p-passos-box {
        font-size: 21px;
        position: relative;
        bottom: 3px;
    }

    .p-passos-box-different {
        font-size: 21px;
        position: relative;
        bottom: 30px;
    }

    .numero {
        bottom: 250px;
    }

    .btnn {
        width: 350px;
    }

    .sobre-mim-box {
        width: 375px;
    }

    .sobre-mim {
        width: 390px;
        top: -71px;
    }

    .subtitle {
        padding: 0 16px; 
        font-size: 1.1rem; 
        line-height: 1.6; 
        text-align: justify;
        hyphens: auto;
        word-spacing: -1px;
    }

    .perguntas-box {
        margin-left: 28px;
    }

    .perguntas-header {
        position: relative;
        top: 10px;
        left: 3px;
    }

    .duvidas {
        padding-top: 32px;
    }

    .wpp {
        width: 200px;
        margin-bottom: 18px;
    }

    .duvidas-text {
        font-size: 2.2rem;
    }

    .duvidas-text-2{
        font-size: 1.2rem;
    }

    .whatsapp {
        color: forestgreen;
    }

    .footer-img {
        position: relative;
        right: 6px;
    }

    .carousel-content {
        margin-bottom: 4px;
    }

   .carousel-control-prev-icon {
        width: 3rem;
        height: 17px;
        /* margin-top: 95px; */
        margin-bottom: 118px;
        left: 12px;
        position: relative;
    }

    .carousel-control-next-icon {
        width: 3rem;
        height: 17px;
        /* margin-top: 95px; */
        margin-bottom: 118px;
        right: 12px;
        position: relative;
    }
} 

/*Samsung s24 ULTRA*/

@media only screen and (width: 384px), 
       only screen and (device-width: 384px) {
    .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    
    .cabecalho > * {
        position: relative;
        z-index: 2; 
        color: #fff;
    }

    .titulo, .subtitulo {
        position: relative;
    }
    
    .cabecalho {
        position: relative;
        height: 850px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        background-color: #000; 
        overflow: hidden; 
    }

    
    .navbar {
        position: relative;
        z-index: 3; 
        width: 100%;
        background: transparent;
    }

   
    .navbar-brand img {
        width: 160px;
        position: absolute;
        top: 414px;
        left: 140px;
        z-index: 4;
    }

   
    .row {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2; 
    }

    .titulo {
        font-size: 29px;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 410px;
        left: 0px;
        font-size: 29px;
        z-index: 4;
        font-weight: 600;
    }

    .subtitulo {
        font-size: 20px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 414px;
        text-align: center;
        left: 0px;
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .avisos-text {
        margin-top: 10%;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 455px;
        width: 291px;
    }

    .vitor {
        position: absolute;
        top: -91px;
        left: 12px;
        width: 355px;
        height: 675px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }

    .img-antes, .img-depois {
        width: 103%;
        height: 280px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .navbar-brand img {
        width: 160px;
        position: absolute;
        top: 414px;
        left: 108px;
        z-index: 4;
    }

    .titulo {
        left: -48px;
        font-size: 29px;
    }

    .subtitulo {
        margin-left: 4px;
        top: 426px;
    }

    .box-1 {
        width: 352px;
    }

    .box-2 {
        width: 352px;
    }

   .passos-box {
        width: 363px;
        height: 297px;
    }

    .passos-text-box {
        font-size: 30px;
        padding-top: 42px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .p-passos-box {
        font-size: 22px;
        position: relative;
        bottom: 7px;
    }

    .p-passos-box-different {
        font-size: 21px;
        position: relative;
        bottom: 30px;
    }

    .numero {
        bottom: 251px;
    }

    .passos-text {
        font-size: 26px;
    }

    .btnn {
        width: 350px;
    }

    .sobre-mim-box {
        width: 375px;
    }

    .sobre-mim {
        width: 400px;
        top: -83px;
    }

    .subtitle {
        padding: 0 16px; 
        font-size: 1.1rem; 
        line-height: 1.6; 
        text-align: justify;
        hyphens: auto; 
        word-spacing: -1px;
    }

    .perguntas-box {
        margin-left: 32px;
    }

    .perguntas-header {
        position: relative;
        top: 20px;
        left: 2px;
    }

    .duvidas {
        padding-top: 32px;
    }

    .wpp {
        width: 200px;
        margin-bottom: 18px;
    }

    .duvidas-text {
        font-size: 2.2rem;
    }

    .duvidas-text-2{
        font-size: 1.2rem;
    }

    .whatsapp {
        color: forestgreen;
    }

    .footer-img{
        position: relative;
        right: 6px;
    }

   .carousel-control-prev-icon {
        width: 3rem;
        height: 17px;
        /* margin-top: 95px; */
        margin-bottom: 118px;
        left: 12px;
        position: relative;
    }

    .carousel-control-next-icon {
        width: 3rem;
        height: 17px;
        /* margin-top: 95px; */
        margin-bottom: 118px;
        right: 12px;
        position: relative;
    }
} 


/*Iphone 12 pro, 13 pro, 14 pro*/
@media only screen and (width: 390px), 
       only screen and (device-width: 390px) {

     .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    .cabecalho > * {
        position: relative;
        z-index: 2; 
        color: #fff;
    }

    .titulo, .subtitulo {
        position: relative;
    }
    
    .cabecalho {
        position: relative;
        height: 850px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        background-color: #000;
        overflow: hidden; 
    }

    .navbar {
        position: relative;
        z-index: 3; 
        width: 100%;
        background: transparent;
    }

    .navbar-brand img {
        width: 160px;
        position: absolute;
        top: 414px;
        left: 116px;
        z-index: 4;
    }

    /* Container principal (textos + imagem) */
    .row {
        display: flex;
        align-items: center; /* Alinha os textos e a imagem verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2; /* Garante que os textos fiquem acima da imagem de fundo */
    }

    .vitor {
        position: absolute;
        top: -91px;
        left: 16px;
        width: 360px;
        height: 665px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }

    .img-antes {
        width: 100%;
        height: 296px; 
        padding-left: 8px; /*ver depois*/
    }

    .img-depois {
        width: 100%;
        height: 296px; 
    }

    /* Textos */
    .titulo {
        font-size: 30px;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 408px;
        left: -52px;
        z-index: 4;
        font-weight: 600;
    }

    .subtitulo {
        font-size: 20px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 422px;
        text-align: center;
        margin-left: -1px;
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 450px;
        width: 291px;
    }

    .avisos-text {
        margin-top: 10%;
    }

    .box-1 {
        width: 370px;
        height: 280px; 
    }

    .p-box-1 {
        font-size: 21px;
    }

    .box-2 {
        width: 370px;
        height: 280px;
    }

    .p-box-2 {
        font-size: 21px;
    }

    .passos-text {
        font-size: 26px;
    }

    .passos-box {
        width: 363px;
        height: 320px;
    }

    .passos-text-box {
        font-size: 30px;
        padding-top: 48px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .p-passos-box {
        font-size: 22px;
        position: relative;
        bottom: 2px;
    }

    .p-passos-box-different {
        font-size: 22px;
        position: relative;
        bottom: 22px;
    }

    .numero {
        bottom: 273px;
    }

    .btnn {
        width: 370px;
    }
    
    .sobre-mim-box {
        width: 383px;
    }
    .sobre-mim {
        width: 400px;
        top: -84px;
    }

    .subtitle {
        padding: 0 16px; 
        font-size: 1.3rem; 
        line-height: 1.6; 
        text-align: justify;
        hyphens: auto; 
        word-spacing: -1px;
    }

    .subtitle:not(:last-child) {
        margin-bottom: 12px; 
    }

    .perguntas-box {
        margin-left: 35px;
    }

    .perguntas-header {
        position: relative;
        top: 20px;
        left: 2px;
    }

    .duvidas {
        padding-top: 32px;
    }

    .wpp {
        width: 200px;
        margin-bottom: 18px;
    }

    .duvidas-text {
        font-size: 2.2rem;
    }

    .duvidas-text-2{
        font-size: 1.2rem;
    }

    .whatsapp {
        color: forestgreen;
    }

    .footer-img { /*ver depois*/
        position: relative;
        right: 5px; /*verificar*/
    }

    .fa-instagram {
        position: relative;
        left: 1px;
    }

    .carousel-content {
        margin-bottom: 4px;
    }  

    .carousel-control-prev-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
        margin-bottom: 108px; 
        left: 10px;
        position: relative;
    
    }

    .carousel-control-next-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
         margin-bottom: 108px; 
       /*  margin-top: 95px;nos dois */
        right: 1px;
        position: relative;
    }
}

/*IPHONE 15,16 17*/

@media only screen and (width: 393px), 
       only screen and (device-width: 393px) {

    .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    /* Textos */
    .cabecalho > * {
        position: relative;
        z-index: 2; /* Fica sobre a imagem */
        color: #fff;
    }

    .titulo, .subtitulo {
        position: relative;
    }
    
    .cabecalho {
        position: relative;
        height: 850px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        background-color: #000; 
        overflow: hidden; 
    }

    .navbar {
        position: relative;
        z-index: 3;
        width: 100%;
        background: transparent;
    }

    .navbar-brand img {
        width: 160px;
        position: absolute;
        top: 414px;
        left: 116px;
        z-index: 4;
    }

    .row {
        display: flex;
        align-items: center; 
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    .vitor {
        position: absolute;
        top: -91px;
        left: 16px;
        width: 360px;
        height: 665px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }

    .img-antes, .img-depois {
        width: 103%;
        height: 280px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    /*
    .img-antes {
        width: 104%;
        height: 296px; 
        padding-left: 10px;
    }

    .img-depois {
        width: 100%;
        height: 296px; 
    }
    */
    .titulo {
        font-size: 30px;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 408px;
        left: -52px;
        z-index: 4;
        font-weight: 600;
    }

    .subtitulo {
        font-size: 20px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 422px;
        text-align: center;
        margin-left: -1px;
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 450px;
        width: 291px;
    }

    .avisos-text {
        margin-top: 10%;
    }

    .box-1 {
        width: 367px; /*370px*/
        height: 280px; 
    }

    .p-box-1 {
        font-size: 21px;
    }

    .box-2 {
        width: 367px; /*370px*/
        height: 280px;
    }

    .p-box-2 {
        font-size: 22px;
    }

    .passos-text {
        font-size: 26px;
    }

    .passos-box {
        width: 363px;
        height: 320px;
    }

    .passos-text-box {
        font-size: 30px;
        padding-top: 48px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .p-passos-box {
        font-size: 23px;
        position: relative;
        bottom: 2px;
    }

    .p-passos-box-different {
        font-size: 23px;
        position: relative;
        bottom: 25px;
    }

    .numero {
        bottom: 273px;
    }

    .btnn {
        width: 370px;
    }

    .sobre-mim-box {
        width: 386px;
    }

    .sobre-mim {
        width: 408px;
        top: -94px;
    }

    .subtitle {
        padding: 0 16px; 
        font-size: 1.3rem; 
        line-height: 1.6; 
        text-align: justify;
        hyphens: auto; 
        word-spacing: -1px;
    }

    .subtitle:not(:last-child) {
        margin-bottom: 12px; 
    }

    .perguntas-box {
        margin-left: 35px;
    }

    .duvidas {
        padding-top: 32px;
    }

    .wpp {
        width: 200px;
        margin-bottom: 18px;
    }

    .duvidas-text {
        font-size: 2.2rem;
    }

    .duvidas-text-2{
        font-size: 1.2rem;
    }

    .perguntas-header {
        position: relative;
        left: 2px;
        top: 20px;
    }

    .whatsapp {
        color: forestgreen;
    }

    .footer-img {
        position: relative;
        right: 2px;
    }

    .fa-instagram {
        left: 4px;
    }

    .carousel-content {
        margin-bottom: 4px;
    } 

    /* .carousel-control-prev-icon {
        width: 3rem;
        height: 24px;
        margin-top: 95px;
    }

    .carousel-control-next-icon {
        width: 3rem;
        height: 24px;
        margin-top: 95px;
    } */

    .carousel-control-prev-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
        margin-bottom: 108px; 
        left: 10px;
        position: relative;
    }

    .carousel-control-next-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
         margin-bottom: 108px; 
       /*  margin-top: 95px;nos dois */
        right: 8px;
        position: relative;
    }
}

/*Samsung Note20 Ultra*/
@media only screen and (min-width: 411px) and (max-width: 412px) {
    .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    .cabecalho > * {
        position: relative;
        z-index: 2;
        color: #fff;
    }

    .titulo, .subtitulo {
        position: relative;
    }
    
    .cabecalho {
        position: relative;
        height: 850px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        background-color: #000; 
        overflow: hidden;
    }

    .navbar {
        position: relative;
        z-index: 3; 
        width: 100%;
        background: transparent;
    }

    .navbar-brand img {
        width: 160px;
        position: absolute;
        /* top: 408px; */
        top: 414px;
        left: 130px;
        z-index: 4;
    }

    .row {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    .vitor {
        position: absolute;
        top: -91px;
        left: 30px;
        width: 351px;
        height: 665px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }

    .img-antes {
       /*  width: 104%; */
        height: 296px; 
        /* padding-left: 10px; */
        padding-left: 8px; /*ver depois*/
    }

    .img-depois {
       /*  width: 100%; */
        height: 296px; 
    }
    
   /* width: 80%;
    height: auto;
    } */

    .carousel-content {
        margin-bottom: 4px;
    }  

    .testemunha-text {
        font-size: 25px;
    }

    .titulo {
        font-size: 32px;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 410px;
        left: -50px;
        z-index: 4;
        font-weight: 600;
    }

    .subtitulo {
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 414px;
        text-align: center;
        margin-left: -1px;
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 450px;
    }

    .avisos-text {
        margin-top: 10%;
    }

    .box-1 {
        width: 376px;
    }

    .x {
        width: 52px;
        padding-top: 20px;
        margin-bottom: 12px;
    }

     .p-box-1 {
        padding: 0px 32px;
        line-height: 1.4;
        font-size: 22px;
    }
    
    .box-2 {
        width: 376px;
    }

    .certo {
        width: 52px;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .p-box-2 {
        padding: 0px 32px;
        line-height: 1.4;
        font-size: 22px;
    }

    .passos-text {
        font-size: 28px;
    }

    .passos-box {
        width: 376px;
        height: 318px;
    }

    .passos-text-box {
        padding-top: 48px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 28px;
    }

    .p-passos-box {
      font-size: 24px;
    }

    .p-passos-box-different {
        font-size: 24px;
        position: relative;
        bottom: 28px;
    }

    .numero {
        bottom: 272px;
    }

    .sobre-mim-box {
        width: 395px;
    }

    .sobre-mim {
        width: 400px;
        top: -83px;
    }

    .subtitle {
        padding: 0 16px; 
        font-size: 1.3rem; 
        line-height: 1.6; 
        text-align: justify;
        hyphens: auto; 
        word-spacing: -1px;
    }

    .subtitle:not(:last-child) {
        margin-bottom: 12px;
    }

    .btnn {
        width: 378px;
    } 

     .perguntas-box {
        margin-left: 47px;
    }

    .perguntas-header {
        position: relative;
        top: 20px;
        left: 2px;
    }

    .duvidas {
        padding-top: 32px;
    }

    .wpp {
        width: 200px;
        margin-bottom: 18px;
    }

    .duvidas-text {
        font-size: 2.2rem;
    }

    .duvidas-text-2{
        font-size: 1.2rem;
    }

    .whatsapp {
        color: forestgreen;
    }

    .fa-instagram {
        left: 4px;
    }

    .footer-text {
        padding: 0 39px;
    }

     .footer-img { /*ver depois*/
        position: relative;
        right: 4px; /*verificar*/
    }

    .carousel-content {
        margin-bottom: 4px;
    }  

    .carousel-control-prev-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
        margin-bottom: 108px; 
        left: 10px;
        position: relative;
    
    }

    .carousel-control-next-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
         margin-bottom: 108px; 
       /*  margin-top: 95px;nos dois */
        right: 1px;
        position: relative;
    }
}

/*Iphone 11*/
@media only screen and (min-width: 413px) and (max-width: 414px) {
    .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    .cabecalho > * {
        position: relative;
        z-index: 2;
        color: #fff;
    }

    .titulo, .subtitulo {
        position: relative;
    }
    
    .cabecalho {
        position: relative;
        height: 850px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        background-color: #000; 
        overflow: hidden;
    }

    .navbar {
        position: relative;
        z-index: 3; 
        width: 100%;
        background: transparent;
    }

    .navbar-brand img {
        width: 160px;
        position: absolute;
        /* top: 408px; */
        top: 414px;
        left: 130px;
        z-index: 4;
    }

    .row {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    .vitor {
        position: absolute;
        top: -91px;
        left: 30px;
        width: 351px;
        height: 665px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }

    .img-antes {
       /*  width: 104%; */
        height: 296px; 
        /* padding-left: 10px; */
        padding-left: 8px; /*ver depois*/
    }

    .img-depois {
       /*  width: 100%; */
        height: 296px; 
    }
    
   /* width: 80%;
    height: auto;
    } */

    .carousel-content {
        margin-bottom: 4px;
    }  

    .testemunha-text {
        font-size: 25px;
    }

    .titulo {
        font-size: 32px;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 410px;
        left: -50px;
        z-index: 4;
        font-weight: 600;
    }

    .subtitulo {
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 414px;
        text-align: center;
        margin-left: -1px;
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 450px;
    }

    .avisos-text {
        margin-top: 10%;
    }

    .box-1 {
        width: 376px;
    }

    .x {
        width: 52px;
        padding-top: 20px;
        margin-bottom: 12px;
    }

     .p-box-1 {
        padding: 0px 32px;
        line-height: 1.4;
        font-size: 22px;
    }
    
    .box-2 {
        width: 376px;
    }

    .certo {
        width: 52px;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .p-box-2 {
        padding: 0px 32px;
        line-height: 1.4;
        font-size: 22px;
    }

    .passos-text {
        font-size: 28px;
    }

    .passos-box {
        width: 376px;
        height: 318px;
    }

    .passos-text-box {
        padding-top: 48px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 28px;
    }

    .p-passos-box {
      font-size: 24px;
    }

    .p-passos-box-different {
        font-size: 24px;
        position: relative;
        bottom: 28px;
    }

    .numero {
        bottom: 272px;
    }

    .sobre-mim-box {
        width: 400px;
    }

    .sobre-mim {
        width: 412px;
        top: -97px;
    }

    .subtitle {
        padding: 0 16px; 
        font-size: 1.3rem; 
        line-height: 1.6; 
        text-align: justify;
        hyphens: auto; 
        word-spacing: -1px;
    }

    .subtitle:not(:last-child) {
        margin-bottom: 12px;
    }

    .btnn {
        width: 378px;
    } 

     .perguntas-box {
        margin-left: 47px;
    }

    .perguntas-header {
        position: relative;
        top: 10px;
        left: 4px;
    }

    .duvidas {
        padding-top: 32px;
    }

    .wpp {
        width: 200px;
        margin-bottom: 18px;
    }

    .duvidas-text {
        font-size: 2.2rem;
    }

    .duvidas-text-2{
        font-size: 1.2rem;
    }

    .whatsapp {
        color: forestgreen;
    }

    .fa-instagram {
        left: 4px;
    }

    .footer-text {
        padding: 0 39px;
    }

    .footer-img { /*ver depois*/
        position: relative;
        right: 2px; /*verificar*/
    }

    .carousel-content {
        margin-bottom: 4px;
    }  

    .carousel-control-prev-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
        margin-bottom: 108px; 
        left: 10px;
        position: relative;
    
    }

    .carousel-control-next-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
         margin-bottom: 108px; 
       /*  margin-top: 95px;nos dois */
        right: 1px;
        position: relative;
    }
}

/*Iphone 12,13,14,15,16 pro max/plus */
@media screen and (min-width: 428px) and (max-width: 440px) and (max-height: 956px) { 
   .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    
    .cabecalho > * {
        position: relative;
        z-index: 2; 
        color: #fff;
    }

    .titulo, .subtitulo {
        position: relative;
    }
    
    .cabecalho {
        position: relative;
        height: 850px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        background-color: #000; 
        overflow: hidden; 
    }

    
    .navbar {
        position: relative;
        z-index: 3; 
        width: 100%;
        background: transparent;
    }

   
    .navbar-brand img {
        width: 160px;
        position: absolute;
        top: 414px;
        left: 140px;
        z-index: 4;
    }

   
    .row {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2; 
    }

    .vitor {
        position: absolute;
        top: -91px;
        left: 28px;
        width: 372px;
        height: 665px;
        object-fit: cover;
        z-index: 1;
        opacity: 0.8;
    }

    .img-antes, .img-depois {
        width: 103%;
        height: 280px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    /*
    .img-antes {
        width: 104%;
        height: 296px; 
        padding-left: 10px;
    }

    .img-depois {
        width: 100%;
        height: 296px; }
    */

    .titulo {
        font-size: 2.2rem;
        color: #fff;
        line-height: 1.2;
        position: relative;
        top: 410px;
        margin-left: -1px;
        z-index: 4;
        font-weight: 600;
    }

    .subtitulo {
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
        top: 414px;
        text-align: center;
        margin-left: -2px;
        text-wrap: wrap;
        z-index: 4;
        padding: 0px 8px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        background-color: #FECA0E;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 0px;
        z-index: 2;
        position: relative;
        top: 455px;
        width: 291px;
    }

    .avisos-text {
        margin-top: 10%;
    }

    .box-1 {
        width: 380px;
    }

    .p-box-1 {
        font-size: 22px;
    }

    .box-2 {
        width: 380px;
    }

    .p-box-2 {
        font-size: 23px;
    }

    .passos-text {
        font-size: 30px;
    }

     .passos-box {
        width: 380px;
        height: 320px;
    }

    .numero {
        bottom: 273px;
    }

    .passos-text-box {
        font-size: 30px;
        padding-top: 48px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .p-passos-box {
        font-size: 24px;
        position: relative;
        bottom: 10px;
    }

    .p-passos-box-different {
        font-size: 23px;
        position: relative;
        bottom: 25px;
    }

    .btnn {
        width: 380px;
        margin-bottom: 50px;
    }

    .sobre-mim-box {
        width: 418px;
    }

    .sobre-mim {
        width: 412px;
        top: -98px;
    }

    .subtitle {
        padding: 0 16px; 
        font-size: 1.3rem; 
        line-height: 1.6; 
        text-align: justify;
        hyphens: auto; 
        word-spacing: -1px;
    }

    .subtitle:not(:last-child) {
        margin-bottom: 12px; 
    }

    .perguntas-header {
        position: relative;
        top: 10px;
        left: 4px;
    }

    .perguntas-box {
       margin-left: 56px;
    }
    
    .wpp {
        width: 300px;
    }

    .footer-text {
        font-size: 1.3rem;
    }

    .fa-instagram {
        left: 4px;
    }

    .footer-img{
        position: relative;
        right: 2px;
    }
    
    /* .carousel-control-prev-icon {
        width: 3rem;
        height: 24px;
        margin-top: 95px;
        margin-right: 45px;
    }

    .carousel-control-next-icon {
        width: 3rem;
        height: 24px;
        margin-top: 95px;
        margin-left: 45px;
    } */

    .carousel-content {
        margin-bottom: 4px;
    } 

    .carousel-control-prev-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
        margin-bottom: 108px; 
        left: 12px;
        position: relative;
    
    }

    .carousel-control-next-icon { /*ver depois*/
        width: 3rem;
        height: 24px;
         margin-bottom: 108px; 
       /*  margin-top: 95px;nos dois */
        right: 10px;
        position: relative;
    }
} 

/*Macbook Air*/

@media screen and (min-width: 1279px) and (max-width: 1280px) {
    .vitor {
        width: 450px;
    }
    
    .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    .navbar-brand img {
        width: 182px;
        position: relative;
        top: 12px;
    }

    .titulo, .subtitulo {
        text-align: left;
        margin-left: 121px;
    }

    .btn {
        margin-left: -73px;
        width: 320px;
        height: 56px;
    }

    .testemunha-color {
        background-color: #000000;
        padding: 48px 0 30px;
    }

    .p-box-1 {
        font-size: 21px;
    }

    .p-box-2 {
        font-size: 23px;
    }

    .sobre-mim-box {
        margin-bottom: 46px;
    }

    .sobre-mim {
        width: 400px;
        /* top: -58px; */
        bottom: -43px;
    }

    .title {
        margin-bottom: 36px;
    }

    .perguntas-box {
        margin-left: 477px;
    }

    .footer-img {
        position: relative;
        right: 3px;
    }
}

/*DELL LATITUDE*/
@media screen and (min-width: 1439px) and (max-width: 1440px) {
    .vitor {
        width: 450px;
    }
    
    .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    .navbar-brand img {
        width: 182px;
        position: relative;
        top: 12px;
    }

    .titulo, .subtitulo {
        text-align: left;
        margin-left: 121px;
    }

    .btn {
        margin-left: -150px;
        width: 320px;
        height: 56px;
    }

    .testemunha-color {
        background-color: #000000;
        padding: 48px 0 30px;
    }

    .p-box-1 {
        font-size: 21px;
    }

    .p-box-2 {
        font-size: 23px;
    }

    .sobre-mim-box {
        margin-bottom: 46px;
    }

    .sobre-mim {
       width: 414px;
        /* top: -58px; */
        bottom: -47px;
    }

    .title {
        margin-bottom: 36px;
    }

     .subtitle {
        position: relative;
        left: 12px;
    }

    .perguntas-box {
        margin-left: 558px;
    }

    .footer-img {
        position: relative;
        right: 3px;
    }
}


/*Notebook*/

@media screen and (min-width: 1535px) and (max-width: 1536px) {

    .vitor {
        width: 450px;
    }

    .cabecalho > * {
        position: relative;
        z-index: 2; 
        bottom: 40px;
    }

    .navbar-brand img {
        width: 182px;
        position: relative;
        top: 12px;
    }

    .titulo, .subtitulo {
        text-align: left;
        margin-left: 164px;
    }

    .btn {
        margin-left: -102px;
        width: 320px;
        height: 56px;
    }

    .testemunha-color {
        background-color: #000000;
        padding: 48px 0 30px;
    }

    .p-box-1 {
        font-size: 21px;
    }

    .p-box-2 {
        font-size: 23px;
    }

    .sobre-mim-box {
        margin-bottom: 46px;
    }

    .sobre-mim {
        width: 400px;
        /* top: -58px; */
        bottom: -43px;
    }

    .title {
        margin-bottom: 36px;
    }

     .subtitle {
        position: relative;
        left: 10px;
    }

    .perguntas-box {
        margin-left: 598px;
    }

    .footer-img {
        position: relative;
        right: 2px;
    }
}

/*Macbook PRO*/
@media screen and (min-width: 1727px) and (max-width: 1728px) {
    .vitor {
        width: 480px;
    }

     .cabecalho > * {
        position: relative;
        z-index: 2; /* Mantém o conteúdo acima do gradiente */
        bottom: 40px;
    }

    .navbar-brand img {
        width: 182px;
        position: relative;
        top: 4px;
        right: 63px;
    }

    .titulo, .subtitulo {
        text-align: left;
        margin-left: 204px;
    }

    .btn {
        margin-left: -128px;
        width: 320px;
        height: 56px;
    }

    .avisos-text {
        margin-left: 6px;
    }

    .box-1 {
        margin-left: 655px;
    }

    .p-box-1 {
        font-size: 19px;
    }

    .box-2 {
        margin-left: 655px;
    }

    .p-box-2 {
        font-size: 19px;
    }

    .btnn {
        width: 429px;
        margin-right: 4px;
        margin-top: 60px;
    }

    .yellow-barr {
        margin-top: 64px;
    }

    .sobre-mim-box {
        margin-bottom: 46px;
    }

    .sobre-mim-box {
        width: 500px;
    }

    .sobre-mim {
       width: 412px;
        /* top: -58px; */
        bottom: -47px;
    }

    .title {
        margin-bottom: 32px;
    }

    .text-overlay {
        bottom: 36px;
        padding-bottom: 40px;
    }
    
    .subtitle {
        position: relative;
        left: 12px;
    }

    .perguntas-header {
        margin-top: 20px;
    }

    .perguntas-box {
        margin-left: 700px;
    }

    .wpp {
        margin-right: 16px;
    }

    .footer-img {
        position: relative;
        right: 2px;
    }
}


/*PC*/

@media screen and (min-width: 1900px) and (max-width: 2047px) {

    .vitor {
        width: 460px;
    }

     .cabecalho > * {
        position: relative;
        z-index: 2; /* Mantém o conteúdo acima do gradiente */
        bottom: 40px;
    }

    .navbar-brand img {
        width: 182px;
        position: relative;
        top: 4px;
        right: 63px;
    }

    .titulo, .subtitulo {
        text-align: left;
        margin-left: 300px;
    }

    .btn {
        margin-left: -32px;
        width: 320px;
        height: 56px;
    }

    .avisos-text {
        margin-left: 6px;
    }

    .box-1 {
        margin-left: 747px;
    }

    .p-box-1 {
        font-size: 19px;
    }

    .box-2 {
        margin-left: 747px;
    }

    .p-box-2 {
        font-size: 19px;
    }

    .btnn {
        width: 429px;
        margin-right: 4px;
        margin-top: 60px;
    }

    .yellow-barr {
        margin-top: 64px;
    }

    .sobre-mim-box {
        margin-bottom: 46px;
    }

    .sobre-mim {
        width: 400px;
        /* top: -58px; */
        bottom: -43px;
    }

    .title {
        margin-bottom: 32px;
    }

    .subtitle {
        position: relative;
        left: 10px;
    }

    .text-overlay {
        bottom: 36px;
        padding-bottom: 40px;
    }

    .perguntas-header {
        margin-top: 20px;
    }

    .perguntas-box {
        margin-left: 792px;
    }

    .wpp {
        margin-right: 16px;
    }

    .footer-img {
        position: relative;
        right: 6px;
    }
}

/*PC*/

@media screen and (min-width: 2048px) {

    .vitor {
        width: 520px;
    }

     .cabecalho > * {
        position: relative;
        z-index: 2; /* Mantém o conteúdo acima do gradiente */
        bottom: 40px;
    }

    .navbar-brand img {
        width: 182px;
        position: relative;
        top: 4px;
        right: 63px;
    }

    .titulo, .subtitulo {
        text-align: left;
        margin-left: 361px;
    }

    .btn {
        margin-left: 22px;
        width: 320px;
        height: 56px;
    }

    .avisos-text {
        margin-left: 6px;
    }

    .box-1 {
        margin-left: 810px;
    }

    .img-antes, .img-depois {
        width: 400px;
        height: 493px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .carousel-content {
        gap: 40px;
    }

    .objective {
        background-color: #FECA0E;
        margin-top: 10px;
        color: #000000;
        font-size: 20px;
        font-family: "Inter", serif;
        text-align: center;
        width: 250px;
        height: 60px;
        border: 1px solid;
        border-radius: 3px;
    }

    .biceps {
        width: 26px;
    }

    .p-box-1 {
        font-size: 19px;
    }

    .box-2 {
        margin-left: 810px;
    }

    .p-box-2 {
        font-size: 19px;
    }

    .btnn {
        width: 429px;
        margin-right: 4px;
        margin-top: 60px;
    }

    .yellow-barr {
        margin-top: 64px;
    }

    .sobre-mim-box {
        margin-bottom: 46px;
    }

    .sobre-mim {
        width: 400px;
        /* top: -58px; */
        bottom: -43px;
    }

    .title {
        margin-bottom: 32px;
    }

    .subtitle {
        position: relative;
        left: 10px;
    }

    .text-overlay {
        bottom: 36px;
        padding-bottom: 40px;
    }

    .perguntas-header {
        margin-top: 20px;
    }

    .perguntas-box {
        margin-left: 860px;
    }

    .wpp {
        margin-right: 16px;
    }

    .footer-img {
        position: relative;
        right: 2px;
    }
}